



.App {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;

  background: #111d27;
  /* background: #e2e1e0; */

  background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);

}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}


.book-wrapper {
  display: block;
  width: 1600px;
}


.caps {
  color: rgba(0,0,0,0.7);
  float:left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position:relative;
  top:8px;
}

.page {

  background-color: #f8f5de;
  /* background-color: #f8f5de; */
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(0, 0, 0, 0.1) 65%); */
  box-shadow: inset 0 0 75px rgba(22,10,0,0.3), inset 0 0 20px rgba(55,10,10,0.4), inset 0 0 30px rgba(70,70,20,0.8);

  /* box-shadow: inset -7px 0 30px -7px rgba(0,0,0,0.4), inset -7px 0 30px rgba(0,0,0,0.4), inset 5px 0 30px rgba(0,0,0,0.4); */
  color: rgba(0,0,0,0.8);
  box-sizing: border-box;
  padding: 1em 3em;
  /* letter-spacing: 0.05em; */
  /* line-height: 1.8; */
  /* padding: 5em 10em 15em 5em; */

  font-size: 18px;
  /* font-weight: bold; */
  font-family: "AustralisProSwash-Italic";
  letter-spacing: 0.05em;
  line-height: 1.8;
  /* font-family: 'Mr De Haviland', cursive; */
  /* font-family: 'Tangerine', cursive; */
}


.cover {
  background-color: unset;
  background-image: url('cover.jpg');
  background-size: cover;
  box-shadow: none;
}

.symbol-container-wrapper {
  width: 100%;
  height: 100%;

}
.symbol-container {
  box-sizing: border-box;
  padding: 10% 28%;

  font: 16px Lato;
  line-height: 1.4em;
}



@font-face {
  font-family: Quivira;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/24822/Quivira.otf") format("opentype");
}
.magic-circle {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid #333333;
  border-radius: 125px;
}
.magic-circle.lighter {
  border: 1px solid #666666;
}
.magic-circle.lightest {
  border: 1px solid #808080;
}
.magic-circle.dotted {
  border-style: dotted;
}
.magic-circle.doubled:after {
  display: block;
  content: '';
  width: 108%;
  height: 108%;
  border: 1px solid #333333;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.magic-circle.doubled.dotted:after {
  border-style: dotted;
}
.magic-circle > .formula {
  font-family: Quivira;
  transform: translate(47%,0);
  height: 100%;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #333333;
}
.magic-circle > .formula span {
  height: 50%;
  position: absolute;
  width: 1em;
  padding-top: .25em;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}
.magic-circle > .formula .char1 {
  transform: rotate(5deg);
}
.magic-circle > .formula .char2 {
  transform: rotate(10deg);
}
.magic-circle > .formula .char3 {
  transform: rotate(15deg);
}
.magic-circle > .formula .char4 {
  transform: rotate(20deg);
}
.magic-circle > .formula .char5 {
  transform: rotate(25deg);
}
.magic-circle > .formula .char6 {
  transform: rotate(30deg);
}
.magic-circle > .formula .char7 {
  transform: rotate(35deg);
}
.magic-circle > .formula .char8 {
  transform: rotate(40deg);
}
.magic-circle > .formula .char9 {
  transform: rotate(45deg);
}
.magic-circle > .formula .char10 {
  transform: rotate(50deg);
}
.magic-circle > .formula .char11 {
  transform: rotate(55deg);
}
.magic-circle > .formula .char12 {
  transform: rotate(60deg);
}
.magic-circle > .formula .char13 {
  transform: rotate(65deg);
}
.magic-circle > .formula .char14 {
  transform: rotate(70deg);
}
.magic-circle > .formula .char15 {
  transform: rotate(75deg);
}
.magic-circle > .formula .char16 {
  transform: rotate(80deg);
}
.magic-circle > .formula .char17 {
  transform: rotate(85deg);
}
.magic-circle > .formula .char18 {
  transform: rotate(90deg);
}
.magic-circle > .formula .char19 {
  transform: rotate(95deg);
}
.magic-circle > .formula .char20 {
  transform: rotate(100deg);
}
.magic-circle > .formula .char21 {
  transform: rotate(105deg);
}
.magic-circle > .formula .char22 {
  transform: rotate(110deg);
}
.magic-circle > .formula .char23 {
  transform: rotate(115deg);
}
.magic-circle > .formula .char24 {
  transform: rotate(120deg);
}
.magic-circle > .formula .char25 {
  transform: rotate(125deg);
}
.magic-circle > .formula .char26 {
  transform: rotate(130deg);
}
.magic-circle > .formula .char27 {
  transform: rotate(135deg);
}
.magic-circle > .formula .char28 {
  transform: rotate(140deg);
}
.magic-circle > .formula .char29 {
  transform: rotate(145deg);
}
.magic-circle > .formula .char30 {
  transform: rotate(150deg);
}
.magic-circle > .formula .char31 {
  transform: rotate(155deg);
}
.magic-circle > .formula .char32 {
  transform: rotate(160deg);
}
.magic-circle > .formula .char33 {
  transform: rotate(165deg);
}
.magic-circle > .formula .char34 {
  transform: rotate(170deg);
}
.magic-circle > .formula .char35 {
  transform: rotate(175deg);
}
.magic-circle > .formula .char36 {
  transform: rotate(180deg);
}
.magic-circle > .formula .char37 {
  transform: rotate(185deg);
}
.magic-circle > .formula .char38 {
  transform: rotate(190deg);
}
.magic-circle > .formula .char39 {
  transform: rotate(195deg);
}
.magic-circle > .formula .char40 {
  transform: rotate(200deg);
}
.magic-circle > .formula .char41 {
  transform: rotate(205deg);
}
.magic-circle > .formula .char42 {
  transform: rotate(210deg);
}
.magic-circle > .formula .char43 {
  transform: rotate(215deg);
}
.magic-circle > .formula .char44 {
  transform: rotate(220deg);
}
.magic-circle > .formula .char45 {
  transform: rotate(225deg);
}
.magic-circle > .formula .char46 {
  transform: rotate(230deg);
}
.magic-circle > .formula .char47 {
  transform: rotate(235deg);
}
.magic-circle > .formula .char48 {
  transform: rotate(240deg);
}
.magic-circle > .formula .char49 {
  transform: rotate(245deg);
}
.magic-circle > .formula .char50 {
  transform: rotate(250deg);
}
.magic-circle > .formula .char51 {
  transform: rotate(255deg);
}
.magic-circle > .formula .char52 {
  transform: rotate(260deg);
}
.magic-circle > .formula .char53 {
  transform: rotate(265deg);
}
.magic-circle > .formula .char54 {
  transform: rotate(270deg);
}
.magic-circle > .formula .char55 {
  transform: rotate(275deg);
}
.magic-circle > .formula .char56 {
  transform: rotate(280deg);
}
.magic-circle > .formula .char57 {
  transform: rotate(285deg);
}
.magic-circle > .formula .char58 {
  transform: rotate(290deg);
}
.magic-circle > .formula .char59 {
  transform: rotate(295deg);
}
.magic-circle > .formula .char60 {
  transform: rotate(300deg);
}
.magic-circle > .formula .char61 {
  transform: rotate(305deg);
}
.magic-circle > .formula .char62 {
  transform: rotate(310deg);
}
.magic-circle > .formula .char63 {
  transform: rotate(315deg);
}
.magic-circle > .formula .char64 {
  transform: rotate(320deg);
}
.magic-circle > .formula .char65 {
  transform: rotate(325deg);
}
.magic-circle > .formula .char66 {
  transform: rotate(330deg);
}
.magic-circle > .formula .char67 {
  transform: rotate(335deg);
}
.magic-circle > .formula .char68 {
  transform: rotate(340deg);
}
.magic-circle > .formula .char69 {
  transform: rotate(345deg);
}
.magic-circle > .formula .char70 {
  transform: rotate(350deg);
}
.magic-circle > .formula .char71 {
  transform: rotate(355deg);
}
.magic-circle > .formula .char72 {
  transform: rotate(360deg);
}
.magic-circle > .magic-circle {
  width: 48%;
  height: 48%;
  position: absolute;
  left: 26%;
  top: 26%;
  font-size: 0.6em;
}
.magic-circle > .magic-circle.top {
  top: -23%;
}
.magic-circle > .magic-circle.bottom {
  top: 77%;
}
.magic-circle > .magic-circle.left {
  left: -23%;
}
.magic-circle > .magic-circle.right {
  left: 77%;
}
.magic-circle > .magic-circle.top-left {
  top: -11%;
  left: -11%;
}
.magic-circle > .magic-circle.top-right {
  top: -11%;
  left: 62%;
}
.magic-circle > .magic-circle.bottom-left {
  top: 62%;
  left: -11%;
}
.magic-circle > .magic-circle.bottom-right {
  top: 62%;
  left: 62%;
}
.magic-circle .symbol {
  position: absolute;
  font-family: Quivira;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #333333;
}
.magic-circle .symbol.lighter {
  color: #666666;
}
.magic-circle .symbol.lightest {
  color: #808080;
}
.magic-circle .square {
  position: absolute;
  border: 1px solid #333333;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.magic-circle .square.lighter {
  border: 1px solid #666666;
}
.magic-circle .square.lightest {
  border: 1px solid #808080;
}
.magic-circle .square.dotted {
  border-style: dotted;
}
.magic-circle .square > .formula {
  font-family: Quivira;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.magic-circle .square > .formula.up {
  top: 0%;
  transform: translate(-50%,0%);
}
.magic-circle .square > .formula.down {
  top: 100%;
  margin-top: -1em;
  transform: translate(-50%,0%) rotate(180deg);
}
.magic-circle .square > .formula.right {
  left: 100%;
  transform: translate(-70%,-50%) rotate(90deg);
}
.magic-circle .square > .formula.left {
  left: 0%;
  transform: translate(-35%,-50%) rotate(-90deg);
}
.magic-circle .square > .magic-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.magic-circle .square > .triangle {
  width: 100%;
  left: 0;
  top: 100%;
}
.magic-circle .square > .triangle:before {
  width: 112%;
  transform: rotate(-63.3deg);
}
.magic-circle .square > .triangle:after {
  width: 112%;
  transform: rotate(63.3deg);
  left: -11.5%;
}
.magic-circle .square > .triangle.reverse {
  width: 100%;
  left: 0;
  top: -0.6%;
}
.magic-circle .square > .triangle.reverse:before {
  width: 112%;
  transform: rotate(-63.3deg);
}
.magic-circle .square > .triangle.reverse:after {
  width: 112%;
  transform: rotate(63.3deg);
  left: -11.5%;
}
.magic-circle .square > .triangle > .square {
  width: 88.25px;
  height: 88.25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-100%);
  border: 1px solid #333333;
}
.magic-circle .square > .triangle > .square > .triangle {
  width: 100%;
  left: 0;
  top: 100%;
}
.magic-circle .square > .triangle > .square > .triangle:before {
  width: 112%;
  transform: rotate(-63.3deg);
}
.magic-circle .square > .triangle > .square > .triangle:after {
  width: 112%;
  transform: rotate(63.3deg);
  left: -11.5%;
}
.magic-circle .square > .triangle > .square > .triangle.reverse {
  width: 100%;
  left: 0;
  top: 0%;
}
.magic-circle .square > .triangle > .square > .triangle.reverse:before {
  width: 112%;
  transform: rotate(-63.3deg);
}
.magic-circle .square > .triangle > .square > .triangle.reverse:after {
  width: 112%;
  transform: rotate(63.3deg);
  left: -11.5%;
}
.magic-circle .triangle {
  position: absolute;
  width: 88%;
  height: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #333333;
  top: 75.5%;
  left: 6%;
}
.magic-circle .triangle.reverse {
  transform: rotate(180deg);
  top: 24.5%;
}
.magic-circle .triangle:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #333333;
  transform-origin: 0% 50%;
  transform: rotate(-60deg);
}
.magic-circle .triangle:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #333333;
  transform-origin: 100% 50%;
  transform: rotate(60deg);
}
.magic-circle .triangle.lighter {
  background: #666666;
}
.magic-circle .triangle.lighter:before, .magic-circle .triangle.lighter:after {
  background: #666666;
}
.magic-circle .triangle.lightest {
  background: #808080;
}
.magic-circle .triangle.lightest:before, .magic-circle .triangle.lightest:after {
  background: #808080;
}
.magic-circle .triangle.dotted {
  border-style: dotted;
}
.magic-circle .triangle.dotted:before, .magic-circle .triangle.dotted:after {
  border-style: dotted;
}
.magic-circle .triangle > .formula {
  font-family: Quivira;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: absolute;
  top: -67.5px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.magic-circle .triangle > .formula.base {
  top: 0%;
  margin-top: -1.5em;
  transform: translate(-50%,0%);
}
.magic-circle .triangle > .formula.right {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform-origin: 100% 50%;
  transform: rotate(60deg) translate(0,.5em);
}
.magic-circle .triangle > .formula.left {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform-origin: 0% 50%;
  transform: rotate(-60deg) translate(0,.5em);
}
.magic-circle .triangle > .symbol {
  transform: translate(-50%,-450%);
}
.magic-circle .triangle > .square {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-100%);
  border: 1px solid #333333;
}
.magic-circle .triangle > .magic-circle {
  width: 125px;
  height: 125px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-100%);
}
.magic-circle .triangle > .magic-circle > .triangle > .magic-circle {
  width: 62.5px;
  height: 62.5px;
}
.magic-circle .triangle > .magic-circle > .triangle > .magic-circle > .triangle > .magic-circle {
  width: 31.25px;
  height: 31.25px;
}
.magic-circle .triangle > .triangle {
  width: 110px;
  left: 50%;
  top: -31.25px;
  transform: translate(-50%,-50%);
}
.magic-circle .triangle > .triangle.reverse {
  transform: translate(-50%,-50%) rotate(180deg);
  top: -95px;
}
.magic-circle .triangle > .triangle > .triangle {
  width: 52.5px;
  left: 50%;
  top: -17.5px;
  transform: translate(-50%,-50%);
}
.magic-circle .triangle > .triangle > .triangle.reverse {
  transform: translate(-50%,-50%) rotate(180deg);
  top: -47.5px;
}
